/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json

node_modules
dist

# Local python packages
.python_packages/

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json
